.app {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

li {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f2f2f2;
}

h1 {
  color: red;
}

p {
  font-size: 18px;
}

body, ul, li, h1, input, button {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
}

.app {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

li {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

li .view {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 10px;
}

span {
  flex: 1;
  font-size: 16px;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 14px;
  margin-right: 5px;
}

button:nth-child(2) {
  color: #007BFF;
}

button:nth-child(3) {
  color: #FF0000;
}

li .edit {
  display: none;
}

.footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer button {
  background-color: #FF0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
}

.done {
  text-decoration: line-through;
}

editing {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

li.editing .edit {
  display: block;
}

.clearBtn {
  margin-left: 30px;
}

input[type="text"] {
  width: 260px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:hover,
input[type="text"]:focus {
  border-color: #007BFF;
  box-shadow: 0 2px 5px rgba(0, 123, 255, 0.3);
}

input[type="text"]::placeholder {
  color: #999;
}

input[type="text"]:focus {
  outline: none;
}

#editBtn{
  margin: 20px;
}
